Crowd/App_WebReferences/ServiceReference1/Service3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service3" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15289/Service3.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15289/Service3.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ItestFirstState_testFirstState_InputMessage">
    <wsdl:part name="parameters" element="tns:testFirstState" />
  </wsdl:message>
  <wsdl:message name="ItestFirstState_testFirstState_OutputMessage">
    <wsdl:part name="parameters" element="tns:testFirstStateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_secondStateTest_InputMessage" />
  <wsdl:message name="IService_secondStateTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:secondStateTestResponse" />
  </wsdl:message>
  <wsdl:portType name="ItestFirstState">
    <wsdl:operation name="testFirstState">
      <wsdl:input wsaw:Action="http://tempuri.org/ItestFirstState/testFirstState" message="tns:ItestFirstState_testFirstState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ItestFirstState/testFirstStateResponse" message="tns:ItestFirstState_testFirstState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IService">
    <wsdl:operation name="secondStateTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/secondStateTest" message="tns:IService_secondStateTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/secondStateTestResponse" message="tns:IService_secondStateTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ItestFirstState" type="tns:ItestFirstState">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testFirstState">
      <soap:operation soapAction="http://tempuri.org/ItestFirstState/testFirstState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="secondStateTest">
      <soap:operation soapAction="http://tempuri.org/IService/secondStateTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service3">
    <wsdl:port name="BasicHttpBinding_ItestFirstState" binding="tns:BasicHttpBinding_ItestFirstState">
      <soap:address location="http://localhost:15289/Service3.xamlx" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:15289/Service3.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>